body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.left-side-1 {
    align-items: center;
    justify-content: center;
    flex: 1;
}

.right-side-1 {
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    justify-content: center;
}

.body-1 {
    flex-direction: row;
    display: flex;
    height: 400px;
    flex: auto;

    align-items: center;
}

.body-2 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.title-2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.st1 {
    align-items: flex-end;
}

.body-2 .info div {
    
}

.body-3 {
    background-color: #e5e7eb;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.quote {
    width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.body-4 {
    background-color: #FFFFFF;
}