body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 36px;
}

.header-con {
    width: 1016px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo-con {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex: 1;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 10px;
    display: flex;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.left-side-1 {
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 500px;
}

.right-side-1 {
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    justify-content: center;
}

.sub-text {
    color: #bbbfc5;
    max-width: 450px;
}

.sign-up {
    margin-top: 16px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: 2px solid #3882f6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-1 {
    flex-direction: row;
    display: flex;
    height: 400px;
    justify-content: center;
}

.body-2 {
    background-color: #FFFFFF;
    text-align: center;
    height: 400px;
}

.title-2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 36px;
    margin-top: 36px;
}

.info-con {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}

.body-2 img {
    border-radius: 15px;
    border: 2px solid #43bee4;
}

.body-2 .info-con .info div {
    color: #6e6f72;
}

.body-3 {
    background-color: #e5e7eb;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #697485;
    margin-bottom: 16px;
}

.sig {
    text-align: end;
    width: 600px;
    font-weight: bold;
}

.body-4 {
    background-color: #FFFFFF;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.container-4 {
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #3882f6;
    display: flex;
    height: 100px;
    width: 800px;
    justify-content: center;
    color: #f9faf8;
}

.left-box-4 {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
}

.call {
    font-weight: bold;
}

.sub-call {
    font-size: small;
}

.right-box-4 {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 300px;
}

.sign-up-2 {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: 2px solid #f9faf8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-size: small;
}